<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @event.event_admin.first_name + " " + @event.event_admin.last_name %>,</h1>
    <p>
      Devinez quoi ? Une nouvelle personne s'est inscrite sur votre événement : <%= @event.title %> !
    </p>
    <p>
      Voici celui qui s'est inscrit : <%= @user.first_name + " " + @user.last_name %>.
    </p>
    <p>
      Pour accéder à votre événement, connectez-vous via : <%= @url %>.
    </p>
    <p> À bientôt sur event-ually.herokuapp.com !
  </body>
</html>