<h4 class="text-center">Tu aimes vivre des expériences ? Ca tombe bien, tu vas être servi !</h4>
<div class="card-deck mx-4 my-4">
  <div class="card">
    <div class="card-body text-center">
      <h1 class="card-title text-center"><i class="fas fa-eye"></i></h1>
      <p class="card-text">Consulte notre sélection d'event les plus palpitants !</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
    <h1 class="card-title text-center"><i class="fas fa-plus-circle"></i></h1>
      <p class="card-text">Tu as une idée qui roxe du poney ? Créé tes propres events.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
    <h1 class="card-title text-center"><i class="fas fa-pen-square"></i></h1>
      <p class="card-text">Modifie tes events pour les tenirs à jour et en informer les participants.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
    <h1 class="card-title text-center"><i class="fas fa-trash-alt"></i></h1>
      <p class="card-text">Supprimer les events qui ne sont plus d'actualité : Pfff So 2019 !</p>
    </div>
  </div>
</div>