<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a fait la demande d'un lien de modification de mot de passe. Vous pouvez le modifier grâce au lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne changera pas tant que vous ne le modifiez pas en suivant le lien.</p>
