<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué suite à plusieurs tentatives de connection erronnées.</p>

<p>Suivez le lien ci-dessous pour débloquer votre compte :</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
