<footer class="text-muted">
  <div class="container" style="position: absolute; left: 0; right: 0">
    <hr>
    <p class="float-right">
      <a href="#">
        <button type="button" class="btn btn-outline-secondary">Retour au début</button>
      </a>
    </p>
    <p>&copy; EvenTually, marque déposé. Concu par Rémi BARNAT & Mehdi Lucas AMMAR</p>
  </div>
</footer>