<section class="jumbotron text-center" style="background: url(https://images.pexels.com/photos/1387174/pexels-photo-1387174.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat center center; background-size: cover; padding: 1%;">
  <div class="container">
    <h1 class="jumbotron-heading text-white font-weight-bold">Nous contacter</h1>
  </div>
</section>